/* Navbar 
------------------------------------------------------*/
.navbar-brand,
.navbar-nav li.dropdown a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

.navbar-nav li.dropdown a>span {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    left:40%;
    top:25%;
}

.navbar-custom ul.dropdown-menu li a {
    float: right;
    padding-right: 38px;
}

.navbar-custom {
    background: #ec9c29; /* Old browsers */
    background: -moz-linear-gradient(top,  #ec9c29 0%, #d99327 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9c29), color-stop(100%,#d99327)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ec9c29 0%,#d99327 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9c29', endColorstr='#d99327',GradientType=0 ); /* IE6-9 */
    border: 0px;
}

.navbar-custom li a {
    color: white !important;
    font-size: 16px;
}

.navbar-custom li.sub-opcion-menu a {
    color:#000 !important;
    line-height: 45px;
    height: 45px;
    padding-top: 0;
}

.navbar-brand img{
    margin: 10px 0 0 0;
}

.logo_footer{
    //padding-top: 40px;
}

#footer a{
    color:#ffffff;
}
#footer h4{
    color:#ec9c29;
    font-size: 18px;    
}

#content {    
    padding-bottom:100px;
    min-height: 320px;
}

.tipo_registro {
    margin:0 -15px;
    padding:.5em 0;
    font-size:2em;
    text-align:center;    
}
.tipo_registro a {
    width: 90%;
    display: inline-block;
    padding: 1em 2.5em;
    margin: 0 15px;
    border-radius:4px;
    color: #fff;
    background-color: hsl(41,90%,58%);    
    text-shadow: 1px 1px 1px hsla(0,0%,10%,0.5);
    background-image: radial-gradient(hsla(41,95%,60%,1) 10%, hsla(41,90%,50%,1) 100%);
    box-shadow: 0 0 0 1px hsla(41,90%,50%,.9) inset, 0 0 0 2px hsla(41,90%,25%,.3) inset;    
}

.tipo_registro a.selected {
    background-color: hsl(41,90%,45%);    
    text-shadow: 1px 1px 1px hsla(0,0%,10%,0.5);
    background-image: radial-gradient(hsla(41,95%,30%,1) 10%, hsla(41,90%,25%,1) 100%);
    box-shadow: 0 0 0 1px hsla(41,90%,48%,1) inset, 0 0 0 2px hsla(41,90%,50%,1) inset;    
}

body .box_registro{
    border:0px;
}

#form_crear .radioInput{
    margin-left: 8px;
    margin-right: 8px;
}

.paginacion-listado{text-align: right;}
.box-anuncios{
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}
.box-anuncios>.box-header,.box-productos>.box-header{
    background-color: #ec9c29;
    margin-bottom: 0px;
}
.box-productos{
    border: 0;
}

.anuncio-contenido{
    min-height: 150px;
}

.producto-img-container .frame {height: 150px;width: 100%;white-space: nowrap;text-align: center;}
.producto-img-container .helper {display: inline-block;height: 100%;vertical-align: middle;}
.producto-img-container .producto-img{background: #3A6F9A;vertical-align: middle;max-height: 150px;max-width: 150px;}

.producto-img-container .producto-img-ficha{background: #3A6F9A;vertical-align: middle;max-height: 300px;max-width: 300px;}
.producto-img-container .frame-ficha {height: 300px;width: 100%;white-space: nowrap;text-align: center;}
.producto-img-container .frame-ficha-thumbnail {height: 106px;width: 106px;white-space: nowrap;text-align: center;border: 1px solid #000;}

.vendedor-img-container .frame {height: 230px;width: 100%;white-space: nowrap;text-align: center;}
.vendedor-img-container .helper {display: inline-block;height: 100%;vertical-align: middle;}
.vendedor-img-container .vendedor-img{background: #3A6F9A;vertical-align: middle;max-height: 230px;max-width: 230px;}

//label.error { display: block; float: none; color: red; padding-left: 2.5em; vertical-align: top; }
.box-image .image>img{margin:auto;}
#boton-perfil{margin-top: 20px;}

#perfil-opciones > .active > .sub-opciones >.active > a,
#perfil-opciones > .active > .sub-opciones >.active > a:hover,
#perfil-opciones > .active > .sub-opciones >.active > a:focus {    
    background-color: #dbdbdb;
}

#footer li a {
    padding: 8px 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    font-size: 16px;
}

#footer ul{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

/**/
.tabla-resultados-principal{
    list-style: none;
    padding: 0px;
}

.tabla-resultados-principal a{
    text-decoration: none;
    font-size:15px;
}

.tabla-resultados-principal .productos-principal{
    margin: 20px 0px 20px 0px;
}

.tabla-resultados-principal .precio{
    font-size: 18px;
    font-weight: 600;
}

.tabla-resultados-principal .precio>span{
    font-size: 14px;
    font-weight: 600;
    padding-left: 15px;
}

.tabla-resultados-principal .precio del{
    color: #cccccc;
}

#productMain .price del{
    color:#ccc;
}
#productMain .price{
    margin-bottom: 20px;
    margin-top: 20px;
}
#productMain .price-oferta{
    font-size: 16px;
    font-weight: 600;
}

.tabla-resultados-principal .nombre-producto{
    font-size: 16px;
    font-weight: 600;
}

.tabla-resultados-principal li{
    border: 1px solid #d2d2d2;
    font-size: 13px;
    overflow: hidden;
    padding: 5px 15px;
    position: relative;
    margin-bottom: 10px;

}

.invitaciones-list li{
    min-height: 127px;
}


#producto-principal-categorias a{
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    padding-left: 10px;        
}

ul.nav-stacked ul.nav-stacked > li > a {
    padding-left: 30px;
}
ul.nav-stacked ul.nav-stacked ul.nav-stacked > li > a {
    padding-left: 45px;
}
span.arrow {
    float: right;
    margin-top: 7px;
}

#producto-principal-categorias .nav-sub-level .active>a{
    color: #ffffff;
    background-color: #38a7bb;
}

#producto-principal-categorias .clicked{
    border:1px solid;
}

#producto-principal-categorias .clicked>a{    
    color: #ffffff;
    background-color: #38a7bb;
}

.precios-productos{
    padding-left: 10px;
}

.invalid-precio{
    background-color: #ff3333;    
}

.invalid-precio::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:#000;
}
.invalid-precio:-moz-placeholder, textarea:-moz-placeholder { 
    color:#000;
}
.invalid-precio::-moz-placeholder, textarea::-moz-placeholder { 
    color:#000;
}
.invalid-precio:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:#000;
}

/*
.precios-productos .checkbox label{
    color: #38a7bb !important;
    text-decoration: none;
    font-weight: 600;  
    vertical-align: auto;
}

.precios-productos .checkbox input[type=checkbox]{
    margin-top:2px;
}*/

.precios-productos .input-group{
    width: 45%;
}

.principal-sidebar .panel-heading{
    padding-left: 10px!important;
}

.row-less-padding-r{padding-right:2px;}
.row-less-padding-l{padding-left:2px;}

.preview_imagen_empresa{max-height: 300px;}

#seguros-otros div.group label.error {float:right;padding-left:10px;}
.contacto-invitado{
    border: 2px solid #38a7bb !important;
}

.es-cliente{
    border: 1.5px solid #ddd !important;
}

#cookie_directive_container .navbar{
    background: #ddd;
    color: #666;
    height: 45px!important;
    min-height: 45px!important
}
#cookie_directive_container .credit{padding-top: 10px;}
#cookie_accept a{margin-top: 5px;}
#copyright{margin-bottom: 45px;}

#navbar-menu-principal-text{
    color:#fff;
    font-weight: 600;
}

.logo_header_small{
    width: 70px;
    height: 70px;
    margin-top: 7px!important;
}
.label-datos{
    font-weight: 700;
}
.ficha-producto-descripcion{min-height: 250px;}
.gallery-container{padding-top: 50px;}
.manejar_productos{
    font-weight: 600;    
}
.manejar_productos a{    
    color: #ffffff;
    background: #d99327;
}

.nombre_header{
    font-weight: 600;
    padding-top: 10px;
    font-size: 13px!important;
}

.price-oferta-sinrequisitos-link{
    color :red;
    font-weight: 600;
}

.price-oferta-sinrequisitos-link:hover{
    color :red;
}

.inicio-precios-titulo{
    font-size: 18px;
    font-weight: 600;
    padding-top: 5px;
}

.manual-title{
    padding-left: 20px;    
}

/*---------------- PANEL BLUE -----------------------*/

.panel-blue{
    border-color: #fcfefd;     
    font-size:17px;    
}

.panel-blue .panel-heading{    
    background: #a9e9e9; /* Old browsers */
    background: -moz-linear-gradient(top, #a9e9e9 0%, #fcfefd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e9e9), color-stop(100%,#fcfefd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a9e9e9 0%,#fcfefd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a9e9e9 0%,#fcfefd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a9e9e9 0%,#fcfefd 100%); /* IE10+ */
    background: linear-gradient(to bottom, #a9e9e9 0%,#fcfefd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e9e9', endColorstr='#fcfefd',GradientType=0 ); /* IE6-9 */     
    color:#000;
    border-radius: 10px 10px 0 0;    
    border: 1px #b9ebe8 solid;
}
.panel-blue .panel-body{    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#75c5c4+0,118584+100 */
    background: #75c5c4; /* Old browsers */
    background: -moz-linear-gradient(top, #75c5c4 0%, #118584 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75c5c4), color-stop(100%,#118584)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #75c5c4 0%,#118584 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #75c5c4 0%,#118584 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #75c5c4 0%,#118584 100%); /* IE10+ */
    background: linear-gradient(to bottom, #75c5c4 0%,#118584 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75c5c4', endColorstr='#118584',GradientType=0 ); /* IE6-9 */
    color:#fcfefd;
    border-radius: 0 0 10px 10px;    
}

.panel-blue .panel-heading .titulo{    
    font-weight: 600;
}

.panel-blue .panel-heading .subtext{    
    font-weight: 400;
    text-transform: none;
}

/*---------------------- PANEL ORANGE ---------------------------*/

.panel-orange{
    border-color: #fcfefd;     
    font-size:17px;    
}

.panel-orange .panel-heading{    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffc97f+0,fdfef9+100 */
    background: #ffc97f; /* Old browsers */
    background: -moz-linear-gradient(top, #ffc97f 0%, #fdfef9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc97f), color-stop(100%,#fdfef9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffc97f 0%,#fdfef9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffc97f 0%,#fdfef9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffc97f 0%,#fdfef9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffc97f 0%,#fdfef9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc97f', endColorstr='#fdfef9',GradientType=0 ); /* IE6-9 */    
    color:#000;
    border-radius: 10px 10px 0 0;    
    border: 1px #fcc987 solid;
}
.panel-orange .panel-body{        
    background: #f6be6b; /* Old browsers */
    background: -moz-linear-gradient(top, #f6be6b 0%, #e5972b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6be6b), color-stop(100%,#e5972b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6be6b 0%,#e5972b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6be6b 0%,#e5972b 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6be6b 0%,#e5972b 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6be6b 0%,#e5972b 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6be6b', endColorstr='#e5972b',GradientType=0 ); /* IE6-9 */
    color:#fcfefd;
    border-radius: 0 0 10px 10px;    
}

.panel-orange .panel-heading .titulo{    
    font-weight: 600;
}

.panel-orange .panel-heading .subtext{    
    font-weight: 400;
    text-transform: none;
}

/*----------------------- PANEL GREEN ----------------------------------*/

.panel-green{
    border-color: #fcfefd;     
    font-size:17px;    
}

.panel-green .panel-heading{        
    background: #b0f54d; /* Old browsers */
    background: -moz-linear-gradient(top, #b0f54d 0%, #fcfbff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b0f54d), color-stop(100%,#fcfbff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b0f54d 0%,#fcfbff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b0f54d 0%,#fcfbff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b0f54d 0%,#fcfbff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b0f54d 0%,#fcfbff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0f54d', endColorstr='#fcfbff',GradientType=0 ); /* IE6-9 */     
    color:#000;
    border-radius: 10px 10px 0 0; 
    border: 1px #abf84a solid;
}
.panel-green .panel-body{    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#91d043+0,488400+100 */
    background: #91d043; /* Old browsers */
    background: -moz-linear-gradient(top, #91d043 0%, #488400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91d043), color-stop(100%,#488400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #91d043 0%,#488400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #91d043 0%,#488400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #91d043 0%,#488400 100%); /* IE10+ */
    background: linear-gradient(to bottom, #91d043 0%,#488400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91d043', endColorstr='#488400',GradientType=0 ); /* IE6-9 */
    color:#fcfefd;
    border-radius: 0 0 10px 10px;    
}

.panel-green .panel-heading .titulo{    
    font-weight: 600;
}

.panel-green .panel-heading .subtext{    
    font-weight: 400;
    text-transform: none;
}
/*----------------------- PANEL GREEN ----------------------------------*/

.panel-gray{
    border-color: #fcfefd;     
    font-size:17px;    
}

.panel-gray .panel-heading{        
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d9d9d9+0,fefefe+100 */
    background: #d9d9d9; /* Old browsers */
    background: -moz-linear-gradient(top, #d9d9d9 0%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d9d9d9 0%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d9d9d9 0%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d9d9d9 0%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d9d9d9 0%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */     
    color:#000;
    border-radius: 10px 10px 0 0; 
    border: 1px #dadada solid;
}
.panel-gray .panel-body{    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aba9aa+0,555555+100 */
    background: #aba9aa; /* Old browsers */
    background: -moz-linear-gradient(top, #aba9aa 0%, #555555 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aba9aa), color-stop(100%,#555555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #aba9aa 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #aba9aa 0%,#555555 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #aba9aa 0%,#555555 100%); /* IE10+ */
    background: linear-gradient(to bottom, #aba9aa 0%,#555555 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aba9aa', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
    color:#fcfefd;
    border-radius: 0 0 10px 10px;    
}

.panel-gray .panel-heading .titulo{    
    font-weight: 600;
}

.panel-gray .panel-heading .subtext{    
    font-weight: 400;
    text-transform: none;
}
/* ---------------------------------------------------------------------------- */
.panel-blue,.panel-green,.panel-orange,.panel-gray{
    cursor: pointer;
}


.panel-blue .panel-body,.panel-orange .panel-body,.panel-green .panel-body,.panel-gray .panel-body{
    padding: 10px 20px 10px 20px;
}
.panel-blue .panel-heading,.panel-orange .panel-heading,.panel-green .panel-heading,.panel-gray .panel-heading{
    padding: 10px 20px 5px 20px;
}

.panel-orange ul, .panel-green ul, .panel-blue ul ,.panel-gray ul{
    padding-left: 15px;
}

.panel-orange ul ul, .panel-green ul ul{
    padding-left: 15px;
    color: #000;
}

.bar.background-image-1 {
  background: url('../../imgs/fixed-background-2.jpg') center center no-repeat;  
  background-size: cover;
}

.index-search-box{
    min-height: 150px;
}


@media (max-width: 768px) {
    .navbar-custom ul{
        background-color: #fff;
    }
    .navbar-nav li.dropdown a {
        line-height: 45px;
        height: 45px;
        padding-top: 0;        
    }

    .navbar-custom li a {
        color: #000 !important;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
    }

    .navbar-custom ul.dropdown-menu li a {        
        padding-right: 38px;
        float:none;
    }
}
