html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;    
}

.container-body{        
    min-height: 600px;
}
/* Navbar 
------------------------------------------------------*/
.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

.navbar-custom {
    background: #ec9c29; /* Old browsers */
    background: -moz-linear-gradient(top,  #ec9c29 0%, #d99327 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9c29), color-stop(100%,#d99327)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ec9c29 0%,#d99327 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9c29', endColorstr='#d99327',GradientType=0 ); /* IE6-9 */
    border: 0px;
}

.navbar-custom li a {
    color: white !important;
    font-size: 16px;
}

.navbar-brand img{
   margin: 10px 0 0 0;
}

.logo_footer{
    padding-top: 40px;
}