html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;    
}

.container-body{        
    //min-height: 1200px;
}
/* Navbar 
------------------------------------------------------*/
.navbar-brand,
.navbar-nav li a {
    line-height: 85px;
    height: 85px;
    padding-top: 0;
}

.navbar-custom {
    background: #ec9c29; /* Old browsers */
    background: -moz-linear-gradient(top,  #ec9c29 0%, #d99327 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ec9c29), color-stop(100%,#d99327)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ec9c29 0%,#d99327 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ec9c29 0%,#d99327 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9c29', endColorstr='#d99327',GradientType=0 ); /* IE6-9 */
    border: 0px;
}

.navbar-custom li a {
    color: white !important;
    font-size: 16px;
}

.navbar-brand img{
    margin: 10px 0 0 0;
}

.logo_footer{
    padding-top: 40px;
}

#footer a{
    color:#ffffff;
}
#footer h4{
    color:#ec9c29;
    font-size: 18px;    
}

#loginForm label.error {
    margin-left: 10px;
    width: auto;
    display: inline;
    color: red;
    font-style: italic;
}

#content-body {
  overflow:auto;
  padding-bottom:200px; /* this needs to be bigger than footer height*/
}

.tipo_registro {
    margin:0 -15px;
    padding:.5em 0;
    font-size:2em;
    text-align:center;    
}
.tipo_registro a {
    width: 90%;
    display: inline-block;
    padding: 1em 2.5em;
    margin: 0 15px;
    border-radius:4px;
    color: #fff;
    background-color: hsl(41,90%,58%);    
    text-shadow: 1px 1px 1px hsla(0,0%,10%,0.5);
    background-image: radial-gradient(hsla(41,95%,60%,1) 10%, hsla(41,90%,50%,1) 100%);
    box-shadow: 0 0 0 1px hsla(41,90%,50%,.9) inset, 0 0 0 2px hsla(41,90%,25%,.3) inset;    
 }

.tipo_registro a.selected {
    background-color: hsl(41,90%,45%);    
    text-shadow: 1px 1px 1px hsla(0,0%,10%,0.5);
    background-image: radial-gradient(hsla(41,95%,30%,1) 10%, hsla(41,90%,25%,1) 100%);
    box-shadow: 0 0 0 1px hsla(41,90%,48%,1) inset, 0 0 0 2px hsla(41,90%,50%,1) inset;    
 }

 body .box_registro{
     border:0px;
 }
